@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/atkinson/Atkinson-Hyperlegible-Regular-102.woff"), url("fonts/atkinson/Atkinson-Hyperlegible-Bold-102.woff"), url("fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff"), url("fonts/atkinson/Atkinson-Hyperlegible-Italic-102.woff");
}

body {
  font-family: "Atkinson Hyperlegible";
  font-size: 5em;
  color: aquamarine;
  background-color: #000;

  margin-top: 25vh;
  margin-bottom: 25vh;

  margin-left: 15%;
  margin-right: 15%;
}

a {
  color: inherit;
}

p {
  margin-top: 0px;
}

@media (max-width: 1200px) {
  body {
    font-size: 7vw;

    margin-left: 10%;
    margin-right: 10%;
  }
}

/* @media (min-width: 1500px) {
  body {
    font-size: 5em;
  }
} */