html {
  background-color: #0c1922;
}

a {
  text-decoration: underline;
}

body {
  color: #369096;
}



ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-left: 0px;
  margin-bottom: 0px;
}