a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-left: 0px;
  margin-bottom: 0px;
}

li::before {
  content: "→ ";
}

p, li {
  font-family: "Times New Roman", serif;
  font-size: 14pt;
}

.socials {
  font-size: 20pt;
}